

<mat-drawer-container class="example-container" appearance="fill">
  <mat-toolbar>
    <button type="button" mat-raised-button (click)="drawer.toggle()">
      Menu
    </button>
    <p class="titre" mat-card-title>Gestion des interventions</p>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p mat-card-subtitle >Choisissez votre destination</p>
    <p><button mat-raised-button routerLink="/">
      Accueil
    </button></p>
    <p><button routerLink="/interventions" mat-raised-button>
      Interventions
    </button></p>
    <p><button routerLink="/creation" mat-raised-button>
      Création d'une intervention
    </button></p>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>



