

<div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Service créant l'intervention</mat-label>
    <mat-select>
      <mat-option value="option">Service Commercial</mat-option>
      <mat-option value="option">Service Technique</mat-option>
      <mat-option value="option">Support</mat-option>
      <mat-option value="option">HotLine</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Motif de l'intervention</mat-label>
    <mat-select>
      <mat-option value="option">Hébergement</mat-option>
      <mat-option value="option">Cloud</mat-option>
      <mat-option value="option">Serveurs</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Service concerné</mat-label>
    <mat-select>
      <mat-option value="option">Service support 1</mat-option>
      <mat-option value="option">Service support 2</mat-option>
      <mat-option value="option">Service commercial 1</mat-option>
      <mat-option value="option">Service commercial 2 </mat-option>
      <mat-option value="option">Technique 1</mat-option>
      <mat-option value="option">Technique 2</mat-option>
    </mat-select>

  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Niveau de priorité</mat-label>
    <mat-select>
      <mat-option value="option">Normal</mat-option>
      <mat-option value="option">Urgent</mat-option>
      <mat-option value="option">Urgentissime</mat-option>
      <mat-option value="option">on prie pour un miracle </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Commentaire sur l'intervention</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <br>
  <button mat-fab type="submit">Valider</button>

</div>




