

<div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>mot clé</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Service créant l'intervention</mat-label>
    <mat-select [(value)]="formData.serviceCreation">
      <mat-option value="Service Commercial">Service Commercial</mat-option>
      <mat-option value="Service Technique">Service Technique</mat-option>
      <mat-option value="Support">Support</mat-option>
      <mat-option value="HotLine">HotLine</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Motif de l'intervention</mat-label>
    <mat-select [(value)]="formData.motif">
      <mat-option value="Hébergement">Hébergement</mat-option>
      <mat-option value="Cloud">Cloud</mat-option>
      <mat-option value="Serveurs">Serveurs</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Service concerné</mat-label>
    <mat-select [(value)]="formData.serviceConcerne">
      <mat-option value="Service  support 1">Service  support 1</mat-option>
      <mat-option value="Service  support 2">Service support 2</mat-option>
      <mat-option value="Service commercial 1">Service commercial 1</mat-option>
      <mat-option value="Service commercial 2">Service commercial 2 </mat-option>
      <mat-option value="Technique 1">Technique 1</mat-option>
      <mat-option value="Technique 2">Technique 2</mat-option>
    </mat-select>

  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Niveau de priorité</mat-label>
    <mat-select [(ngModel)]="formData.priorite">
      <mat-option value="Normal">Normal</mat-option>
      <mat-option value="Urgent">Urgent</mat-option>
      <mat-option value="Urgentissime">Urgentissime</mat-option>
      <mat-option value="on prie pour un miracle">on prie pour un miracle </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Commentaire sur l'intervention</mat-label>
    <textarea matInput [(ngModel)]="formData.commentaire"></textarea>
  </mat-form-field>
  <br>
  <button mat-fab type="submit" (click)="submitForm()">Valider</button>

</div>




